<app-one [text]="'Välkommen!'" [size]="small"></app-one>
<app-one [text]="'Välkommen 1!'" [size]="medium"></app-one>
<app-one [text]="'Välkommen 2!'" [size]="large"></app-one>

<app-two [name]="'Ironman'" [age]="37" [isOnline]="true"></app-two>
<app-two [name]="'Superman'" [age]="25" [isOnline]="false"></app-two>

<app-three></app-three>

<app-four></app-four>

<span>{{ counter }}</span>
<app-five (onIncrement)="increment($event)"></app-five>

<app-six></app-six>

<app-seven (onIncrement)="counter = counter + 1" [counter]="counter"></app-seven>

<app-eight [buttonText]="'Hej på dig'"></app-eight>
<app-eight [buttonText]="'Click Me!'"></app-eight>

<app-nine [taskName]="'Städa'"></app-nine>
<app-nine [taskName]="'Handla'"></app-nine>
<app-nine [taskName]="'Träna'"></app-nine>